.task__grin_container {
   width: 96%;
   height: 34px;
   display: flex;
   flex-direction: column;
   gap: 2px; 
   border: 1px solid #22782B;
   border-radius: 2px;
   margin-left: 0.6vh;
   margin-bottom: 2px;
   cursor: pointer;
   .task_timer {
    font-size: 12px;
    color: #323854;
    line-height: 135%;
    margin: 0;
    text-align: start;
    padding-top: 4px;
    padding-left: 4px;
   }
   .task_text {
    font-size: 10px;
    color: #323854;
    line-height: 8px;
    margin: 0;
    padding-left: 2px;
    text-align: start;
   }
}

.task__pink_container {
    width: 96%;
    height: 34px;
    display: flex;
    flex-direction: column;
    gap: 2px; 
    border: 1px solid #DECFFF;
    border-radius: 2px;
    background-color: #EEEEFF;
    margin-left: 0.6vh;
    margin-bottom: 2px;
    cursor: pointer;
    .task_timer {
        font-size: 12px;
        color: #323854;
        line-height: 135%;
        margin: 0;
        text-align: start;
        padding-top: 4px;
        padding-left: 4px;
       }
       .task_text {
        font-size: 10px;
        color: #323854;
        line-height: 8px;
        margin: 0;
        padding-left: 2px;
        text-align: start;
       }
 }

 .task__grayline_container {
    width: 96%;
    height: 34px;
    display: flex;
    flex-direction: column;
    gap: 2px; 
    border: 1px solid #79747F;
    border-radius: 2px;
    margin-left: 0.6vh;
    margin-bottom: 2px;
    cursor: pointer;
    .task_timer {
        font-size: 12px;
        color: #323854;
        line-height: 135%;
        margin: 0;
        text-align: start;
        padding-top: 4px;
        padding-left: 4px;
        text-decoration: line-through;
       }
       .task_text {
        font-size: 10px;
        color: #323854;
        line-height: 8px;
        margin: 0;
        padding-left: 2px;
        text-align: start;
        text-decoration: line-through;
       }
 }

 .task__pinkline_container {
    width: 96%;
    height: 34px;
    display: flex;
    flex-direction: column;
    gap: 2px; 
    border: 1px solid #7362BC;
    border-radius: 2px;
    margin-left: 0.6vh;
    margin-bottom: 2px;
    cursor: pointer;
    .task_timer {
        font-size: 12px;
        color: #323854;
        line-height: 135%;
        margin: 0;
        text-align: start;
        padding-top: 4px;
        text-decoration: line-through;
        padding-left: 4px;
       }
       .task_text {
        font-size: 10px;
        color: #323854;
        line-height: 8px;
        margin: 0;
        padding-left: 2px;
        text-decoration: line-through;
        text-align: start;
       }
 }
 
 .task__redwallet_container {
    width: 96%;
    height: 34px;
    display: flex;
    flex-direction: column;
    gap: 2px; 
    border: 1px solid #E12828;
    border-radius: 2px;
    background-image: url(../../../../img/svg/Vector/Vector-red/Vector_wallet.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 4px;
    margin-left: 0.6vh;
    margin-bottom: 2px;
    cursor: pointer;
    .task_timer {
        font-size: 12px;
        color: #323854;
        line-height: 135%;
        margin: 0;
        text-align: start;
        padding-top: 4px;
        padding-left: 4px;
       }
    .task_text {
        font-size: 10px;
        color: #323854;
        line-height: 8px;
        margin: 0;
        padding-left: 2px;
        text-align: start;
       }
 }

 .task__lilac_container {
    width: 96%;
    height: 34px;
    display: flex;
    flex-direction: column;
    gap: 2px; 
    border: 1px solid #DECFFF;
    border-radius: 2px;
    background-color: #EEEEFF;
    margin-left: 0.6vh;
    margin-bottom: 2px;
    cursor: pointer;
    .task_timer {
        font-size: 12px;
        color: #323854;
        line-height: 135%;
        margin: 0;
        text-align: start;
        padding-top: 4px;
        padding-left: 4px;
       }
       .task_text {
        font-size: 10px;
        color: #323854;
        line-height: 8px;
        margin: 0;
        padding-left: 2px;
        text-align: start;
       }
 }
 .task__gray_container {
    width: 96%;
    height: 34px;
    display: flex;
    flex-direction: column;
    gap: 2px; 
    border: 1px solid #C8C5CD;
    border-radius: 2px;
    background-color: #F5F5F5;
    margin-left: 0.6vh;
    margin-bottom: 2px;
    cursor: pointer;
    .task_timer {
        font-size: 12px;
        color: #323854;
        line-height: 135%;
        margin: 0;
        text-align: start;
        padding-top: 4px;
        padding-left: 4px;
       }
       .task_text {
        font-size: 10px;
        color: #323854;
        line-height: 8px;
        margin: 0;
        padding-left: 2px;
        text-align: start;
       }
 }

 .task__grinwallet_container {
    width: 96%;
    height: 34px;
    display: flex;
    flex-direction: column;
    gap: 2px; 
    border: 1px solid #BBE7B9;
    border-radius: 2px;
    background-image: url(../../../../img/svg/Vector/Vector-red/Vector_wallet.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: right 4px;
    background-color: #D7F0D6;
    margin-left: 0.6vh;
    margin-bottom: 2px;
    cursor: pointer;
    .task_timer {
        font-size: 12px;
        color: #323854;
        line-height: 135%;
        margin: 0;
        text-align: start;
        padding-top: 4px;
        padding-left: 4px;
       }
       .task_text {
        font-size: 10px;
        color: #323854;
        line-height: 8px;
        margin: 0;
        padding-left: 4px;
        text-align: start;
       }
 }

 .task__grinsolid_container {
    width: 96%;
    height: 34px;
    display: flex;
    flex-direction: column;
    gap: 2px; 
    border: 1px solid #BBE7B9;
    border-radius: 2px;
    background-color: #D7F0D6;
    margin-left: 0.6vh;
    margin-bottom: 2px;
    cursor: pointer;
    .task_timer {
        font-size: 12px;
        color: #323854;
        line-height: 135%;
        margin: 0;
        text-align: start;
        padding-top: 4px;
        padding-left: 4px;
       }
       .task_text {
        font-size: 10px;
        color: #323854;
        line-height: 8px;
        margin: 0;
        padding-left: 2px;
        text-align: start;
       }
 }